

label {
    font-weight: bold;
}

.form-check-label {
    font-weight: normal;
}

.custom-form {
    /* height: 400px; */
    text-align: center;
}

table {
    border-style: dotted;
}

td, tr {
    border-style: dotted;
}
